<div class="tt-section padding-bottom-xlg-150 padding-left-sm-3-p padding-right-sm-3-p">
  <div class="tt-section-inner tt-wrap max-width-1100">
    <div class="tt-heading tt-heading-lg tt-heading-center margin-bottom-15-p anim-fadeinup">
      <h3 class="tt-heading-subtitle text-gray">What We Do</h3>
      <h2 class="tt-heading-title">Services</h2>
    </div>

    <div class="tt-accordion tt-ac-xlg tt-ac-borders">

      <div class="tt-accordion-item anim-fadeinup">
        <div class="tt-accordion-heading">
          <h3 class="tt-ac-head-title">UX / Research</h3>
          <div class="tt-accordion-subtext">Mauris mauris ante</div>
          <div class="tt-accordion-caret-wrap">
            <div class="tt-accordion-caret magnetic-item"></div>
          </div>
        </div> <!-- /.tt-accordion-heading -->
        <div class="tt-accordion-content max-width-800">
          <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
             ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
             amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
             odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
          </p>

          <div class="tt-btn tt-btn-link">
            <a href="dummy-page.html" data-hover="Read More">Read More</a>
          </div>
        </div> <!-- /.tt-accordion-content -->
      </div> <!-- /.tt-accordion-item -->

    </div>
    <!-- End accordion -->
  </div> <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
