{% load static wagtailcore_tags wagtailimages_tags %}
{% image self.cta_bg_image fill-600x600 as cta_img %}

<div id="portfolio-grid" class="pgi-cap-inside pgi-hover">
  <!-- Begin tt-Grid
  ===================
  * Use class "ttgr-layout-2", "ttgr-layout-3", "ttgr-layout-4" to set grid layout (columns). No class = one column.
  * Use class "ttgr-layout-1-2", "ttgr-layout-2-1", "ttgr-layout-2-3", "ttgr-layout-3-2", "ttgr-layout-3-4" or "ttgr-layout-4-3" to set grid mixed layout (columns).
  * Use class "ttgr-layout-creative-1" or "ttgr-layout-creative-2" to set grid creative mixed layout (no effect with classes "ttgr-portrait", "ttgr-portrait-half", "ttgr-not-cropped" and "ttgr-shifted").
  * Use class "ttgr-portrait" or "ttgr-portrait-half" to enable portrait mode (no effect with classes "ttgr-layout-creative-1", "ttgr-layout-creative-2" and "ttgr-not-cropped").
  * Use class "ttgr-gap-1", "ttgr-gap-2", "ttgr-gap-3", "ttgr-gap-4", "ttgr-gap-5" or "ttgr-gap-6" to add space between items.
  * Use class "ttgr-not-cropped" to enable not cropped mode (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
  * Use class "ttgr-shifted" to enable shifted layout (effect only with classes "ttgr-layout-2", "ttgr-layout-3" and "ttgr-layout-4").
  -->
  <div class="tt-grid ttgr-layout-creative-2 ttgr-not-cropped ttgr-gap-4">

    <!-- Begin tt-Grid items wrap
    ============================== -->
    <div class="tt-grid-items-wrap isotope-items-wrap">
      <div class="tt-grid-item isotope-item people">
        <div class="ttgr-item-inner">
          <!-- Begin portfolio grid item
          ===============================
          * Use class "pgi-image-is-light" if needed, it makes the caption visible better if you use light image (only effect if "pgi-cap-inside" is enabled on "portfolio-grid"! Also no effect on small screens!).
          -->

          <div class="portfolio-grid-item">

            {% if self.button_page %}
              <a href="{{ self.button_page.url }}" class="pgi-image-wrap" data-cursor="View<br>Show">
                <!-- Use class "cover-opacity-*" to set image overlay if needed. For example "cover-opacity-2".
                Useful if class "pgi-cap-inside" is enabled on "portfolio-grid". Note: It is individual and depends on the
                image you use. More info about helper classes in file "helper.css". -->
                <div class="pgi-image-holder cover-opacity-2">
                  <div class="pgi-image-inner anim-zoomin">
                    <figure class="pgi-image ttgr-height">
                      <img src="{{ cta_img.url }}" alt="{{ cta_img.alt }}">
                    </figure> <!-- /.pgi-image -->
                  </div> <!-- /.pgi-image-inner -->
                </div> <!-- /.pgi-image-holder -->
              </a> <!-- /.pgi-image-wrap -->
            {% elif self.button_url %}
              <a href="{{ self.button_url }}" target="_blank" class="pgi-image-wrap" data-cursor="View<br>Show">
                <div class="pgi-image-holder cover-opacity-2">
                  <div class="pgi-image-inner anim-zoomin">
                    <figure class="pgi-image ttgr-height">
                      <img src="{{ cta_img.url }}" alt="{{ cta_img.alt }}">
                    </figure> <!-- /.pgi-image -->
                  </div> <!-- /.pgi-image-inner -->
                </div> <!-- /.pgi-image-holder -->
              </a> <!-- /.pgi-image-wrap -->
            {% endif %}

            <div class="pgi-caption">
              <div class="pgi-caption-inner">
                <h2 class="pgi-title">{{ self.title }}</h2>
                <div class="pgi-categories-wrap">
                  <div class="pgi-category">{{ self.text|richtext }}</div>
                  <!-- <div class="pgi-category">Varia</div> -->
                </div> <!-- /.pli-categories-wrap -->
              </div> <!-- /.pgi-caption-inner -->
            </div> <!-- /.pgi-caption -->
          </div>
          <!-- End portfolio grid item -->

        </div> <!-- /.ttgr-item-inner -->
      </div>
    </div>
    <!-- End tt-Grid item -->

  </div>
  <!-- End tt-Grid items wrap  -->

</div>
<!-- End tt-Grid -->

{#<!-- CTA Block -->#}
{#<section class="about">#}
{#  <div class="container">#}
{#    <div class="row centered">#}
{#      <div class="col-lg-7">#}
{#        <div class="img-about luxy-el" data-horizontal="1" data-speed-x="1">#}
{#          <img class="img-fluid" alt="{{ cta_img.alt }}" src={{ cta_img.url }}>#}
{#        </div>#}
{#      </div>#}
{#      <div class="col-lg-5">#}
{#        <div class="abt-text">#}
{#          <h3>{{ self.title }}</h3>#}
{#          <p>{{ self.text|richtext }}</p>#}
{#          {% if self.button_page %}#}
{#            <a href="{{ self.button_page.url }}" class="hover-target load-spiral">{{ self.button_text }}</a>#}
{#          {% elif self.button_url %}#}
{#            <a href="{{ self.button_url }}" target="_blank" class="hover-target load-spiral">{{ self.button_text }}</a>#}
{#          {% endif %}#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
