<div class="tt-section padding-top-xlg-150 padding-bottom-xlg-150">
  <div class="tt-section-inner">
    <!-- Begin scrolling text-->
    <div class="tt-scrolling-text scr-text-stroke font-italic" data-scroll-speed="20">
      <div class="tt-scrolling-text-inner text-dark-3" data-text="{{ self.text_1 }} -">
        {{ self.text_1 }} -
      </div> <!-- /.tt-scrolling-text-inner -->
    </div>
    <!-- End scrolling text -->
    <!-- Begin scrolling text-->
    <div class="tt-scrolling-text scr-text-stroke scr-text-reverse font-italic" data-scroll-speed="10">
      <div class="tt-scrolling-text-inner text-dark-3" data-text="{{ self.text_2 }} -">
        {{ self.text_2 }} -
      </div> <!-- /.tt-scrolling-text-inner -->
    </div>
    <!-- End scrolling text -->
  </div> <!-- /.tt-section-inner -->
</div>
<!-- End tt-section -->
