{% load cache %}
{% cache 604800 footer %}
  <footer id="tt-footer">
    <div class="tt-footer-inner">
      <!-- Begin footer column-->
      <div class="footer-col tt-align-center-left">
        <div class="footer-col-inner">
          <!-- You can use whatever button or link here -->
          <div class="tt-btn tt-btn-link">
            <a href="#" class="scroll-to-top" data-hover="Back to top">Back to top</a>
          </div>
        </div> <!-- /.footer-col-inner -->
      </div>
      <!-- Begin footer column -->
      <!-- Begin footer column-->
      <div class="footer-col tt-align-center order-m-last">
        <div class="footer-col-inner">
          <div class="tt-copyright">
            © Copyright - 2000 - {% now 'Y' %} Made with <i class="fa fa-heart"></i> by
            <a href="https://magicproductions.ai" target="_blank" rel="noopener" class="tt-link">Magic Productions
                                                                                                 Ltd</a>
          </div>
        </div> <!-- /.footer-col-inner -->
      </div>
      <!-- Begin footer column -->
      <!-- Begin footer column -->
      <div class="footer-col tt-align-center-right">
        <div class="footer-col-inner">
          <div class="footer-social">
            <div class="footer-social-text"><span>Follow</span><i class="fas fa-share-alt"></i></div>
            {% include 'includes/social_links.html' %}
          </div>
          <!-- /.footer-social -->
        </div>
        <!-- /.footer-col-inner -->
      </div>
      <!-- Begin footer column -->
    </div>
    <!-- /.tt-section-inner -->
  </footer>
{% endcache %}
<!-- End tt-footer -->
