{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>
    {% block title %}
      {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% wagtail_site as current_site %}
      {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
    {% endblock %}
  </title>
  <meta name="description"
        content="Hire London best magician, and experience a performance that will leave you speechless and spellbound, a true magic and in awe of a master of his trade."/>
  <link rel="canonical" href="https://hafidgoodmagic.com/"/>
  <meta property="og:locale" content="en_GB"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Hafid Good - Magician London - The Best Magic With Humour"/>
  <meta property="og:description"
        content="Experience a performance that will leave you speechless and spellbound by the experience of true magic and in awe of a master of his trade."
  />
  <meta property="og:url" content="https://hafidgoodmagic.com/"/>
  <meta property="og:site_name" content="BEST MAGIC &amp; COMEDY"/>
  <meta property="og:image" content="https://www.hafidgoodmagic.com/dist/img/main-gallery-1/Hafid Good TV tham8.jpg"
  />
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:description"
        content="Hire London best magician, and experience a performance that will leave you speechless and spellbound, a true magic and in awe of a master of his trade."
  />
  <meta name="twitter:title" content="London Best Magician | Magician in London | Hafid Good Magic"/>
  <meta name="twitter:site" content="@hafidgoodmagic"/>
  <meta name="twitter:image" content="https://www.hafidgoodmagic.com/dist/img/main-gallery-1/Hafid Good TV tham8.jpg"/>
  <meta name="twitter:creator" content="@hafidgoodmagic"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Favicon (http://www.favicon-generator.org/) -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

  <!-- Google fonts (https://www.google.com/fonts) -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet"> <!-- Body font -->

  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet"> <!-- Secondary/Alter font -->

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/normalize/normalize.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/swiper/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/lightgallery/css/lightgallery.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/helper.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}

  {# Force all links in the live preview panel to be opened in a new tab #}
  {% if request.in_preview_panel %}
    <base target="_blank">
  {% endif %}
</head>

<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor {% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<main id="body-inner">
  <div id="page-transition">
    <div class="ptr-overlay"></div>
    <div class="ptr-preloader">
      <div class="ptr-prel-content">
        <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
        <img src="{% static 'assets/img/Hafid-Good-Magic-Logo.png' %}" class="ptr-prel-image tt-logo-light"
             alt="Hafid Good Logo">
      </div> <!-- /.ptr-prel-content -->
    </div> <!-- /.ptr-preloader -->
  </div>
  <!-- End page transition -->
  <!-- Begin magic cursor -->
  <div id="magic-cursor">
    <div id="ball"></div>
  </div>

  <!-- Begin noise background -->
  <div class="bg-noise"></div>
  <!-- End noise background -->
  <div id="scroll-container">
    {% include 'includes/header.html' %}
    <div id="content-wrap">
      {% block content %}{% endblock %}
      {% include 'includes/footer.html' %}
    </div>
    <!-- End content-wrap -->
  </div>
  <!-- End scroll container -->
</main>
<!-- End body inner -->

{# Global javascript #}
<!-- Core JS -->
<script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!-- Libs and Plugins JS -->
<script type="text/javascript" src="{% static 'vendor/gsap/gsap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/gsap/ScrollToPlugin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/gsap/ScrollTrigger.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/smooth-scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/swiper/js/swiper-bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/isotope/packery-mode.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/jquery.mousewheel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shop.js' %}"></script>
<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>

{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
